.container{
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
}

.vector-graphics{
    filter: drop-shadow(0 50px 10px rgba(0, 0, 0, 0.5) );
    animation: vectorAnimtion 800ms infinite ease-in-out alternate;
}

@keyframes vectorAnimtion {
    to{
       transform: translateY(-15px);
    }
}

.brandsBanner > svg{
    color: white;
    font-size: 3rem;
    transition: 0.3s ease;
}

.brandsBanner > svg:hover{
    color: rgba(255, 221, 0);
}

.contianer2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contianer2 video{
    border: 1px solid rgba(0, 0, 0, 0.18);
    width: 60%;
    border-radius: 5px;
    outline: none;
}

@media only screen and(max-width: 600px){
    .contianer2{
        height: unset;
        padding: 2vh 0;
    }

    .contianer2 video{
        width: 100%;
    }
}